SmoothPOS(Beta)/Connected Services/PopupService/PopupService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PopupService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60172/PopupService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60172/PopupService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPopupService_AddPopup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPopup" />
  </wsdl:message>
  <wsdl:message name="IPopupService_AddPopup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPopupResponse" />
  </wsdl:message>
  <wsdl:message name="IPopupService_UpdatePopup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePopup" />
  </wsdl:message>
  <wsdl:message name="IPopupService_UpdatePopup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePopupResponse" />
  </wsdl:message>
  <wsdl:message name="IPopupService_GetPopupDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPopupDetail" />
  </wsdl:message>
  <wsdl:message name="IPopupService_GetPopupDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPopupDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IPopupService_RemovePopup_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePopup" />
  </wsdl:message>
  <wsdl:message name="IPopupService_RemovePopup_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePopupResponse" />
  </wsdl:message>
  <wsdl:message name="IPopupService_ListOfPopup_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOfPopup" />
  </wsdl:message>
  <wsdl:message name="IPopupService_ListOfPopup_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOfPopupResponse" />
  </wsdl:message>
  <wsdl:message name="IPopupService_FilterOfPopup_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterOfPopup" />
  </wsdl:message>
  <wsdl:message name="IPopupService_FilterOfPopup_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterOfPopupResponse" />
  </wsdl:message>
  <wsdl:portType name="IPopupService">
    <wsdl:operation name="AddPopup">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopupService/AddPopup" message="tns:IPopupService_AddPopup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopupService/AddPopupResponse" message="tns:IPopupService_AddPopup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePopup">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopupService/UpdatePopup" message="tns:IPopupService_UpdatePopup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopupService/UpdatePopupResponse" message="tns:IPopupService_UpdatePopup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPopupDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopupService/GetPopupDetail" message="tns:IPopupService_GetPopupDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopupService/GetPopupDetailResponse" message="tns:IPopupService_GetPopupDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePopup">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopupService/RemovePopup" message="tns:IPopupService_RemovePopup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopupService/RemovePopupResponse" message="tns:IPopupService_RemovePopup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListOfPopup">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopupService/ListOfPopup" message="tns:IPopupService_ListOfPopup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopupService/ListOfPopupResponse" message="tns:IPopupService_ListOfPopup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterOfPopup">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopupService/FilterOfPopup" message="tns:IPopupService_FilterOfPopup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopupService/FilterOfPopupResponse" message="tns:IPopupService_FilterOfPopup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPopupService" type="tns:IPopupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPopup">
      <soap:operation soapAction="http://tempuri.org/IPopupService/AddPopup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePopup">
      <soap:operation soapAction="http://tempuri.org/IPopupService/UpdatePopup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPopupDetail">
      <soap:operation soapAction="http://tempuri.org/IPopupService/GetPopupDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePopup">
      <soap:operation soapAction="http://tempuri.org/IPopupService/RemovePopup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListOfPopup">
      <soap:operation soapAction="http://tempuri.org/IPopupService/ListOfPopup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterOfPopup">
      <soap:operation soapAction="http://tempuri.org/IPopupService/FilterOfPopup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PopupService">
    <wsdl:port name="BasicHttpBinding_IPopupService" binding="tns:BasicHttpBinding_IPopupService">
      <soap:address location="http://localhost:60172/PopupService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>